/* navbar */
.navbar-brand{
    margin-left: 37px;
}
.navbar-brand img{
    width: 55px;
}

/*footer*/
.logo img{
    width: 60%;
}
footer.page-footer {
    color: #fff;
    bottom: 0;
    width: 100%;
}
/*end of footer*/